:root {
    --tetolor: mediumvioletred;
}

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 8px 16px;

    background-color: lightgray;
    color: var(--tetolor);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>nav {
    display: flex;
    gap: 16px;
}
header>nav>button {
    position: relative;
    padding: 2px;
    width: 6ch;

    background-color: transparent;
    color: var(--tetolor);

    border: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px black;
}
header>nav>button:hover {
    top: 2px;
    left: 2px;
    box-shadow: none;
}
header>nav>button:active {
    top: 4px;
    left: 4px;
    box-shadow: inset 2px 2px 2px 1px black;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    height: 300px;
    width: clamp(400px, 70vw, 800px);

    font-size: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.quote>.author {
    align-self: end;
}

.description {
    padding: 32px;

    display: grid;
    grid-template-rows: min-content 300px;
    grid-template-columns: min-content minmax(280px, 600px);
    gap: 16px;
}
.description>.title {
    grid-column: 1 / -1;

    padding: 0 16px;

    font-size: 32px;
}
.description>.body {
    font-size: 24px;
}

.section-description {
    margin: 32px 0;
}

.menu {
    width: 800px;
    padding: 32px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-section {
    width: clamp(400px, 80vw, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-section>h3 {
    margin: 32px 0px 16px;
    color: var(--tetolor);
}
.menu-item {
    width: 80%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}
.menu .disclaimer {
    font-size: 8px;
}
